src/CallAPI/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "HTTP": {
                "type": "Http",
                "inputs": {
                    "method": "GET",
                    "uri": "@{parameters('apiUrl')}@{triggerOutputs()['relativePathParameters']['id']}"
                },
                "runAfter": {
                    "Get_lists": [
                        "Succeeded"
                    ]
                }
            },
            "Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 200,
                    "headers": {
                        "Content-Type": "text/html"
                    },
                    "body": "<html><body>Hi @{body('Get_my_profile_(V2)')?['givenName']}, Operation complete.  Employee Name is @{body('Parse_JSON')?['firstName']} @{body('Parse_JSON')?['lastName']}.</body></html>"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "firstName": {
                                "type": "string"
                            },
                            "lastName": {
                                "type": "string"
                            },
                            "department": {
                                "type": "string"
                            },
                            "phone": {
                                "type": "string"
                            },
                            "salary": {
                                "type": "integer"
                            }
                        }
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                }
            },
            "Get_my_profile_(V2)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "office365users"
                        }
                    },
                    "method": "get",
                    "path": "/codeless/v1.0/me"
                },
                "runAfter": {}
            },
            "Get_lists": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "sharepointonline"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://some.sharepoint.com/teams/somesite'))}/tables"
                },
                "runAfter": {
                    "Get_my_profile_(V2)": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "integer"
                            }
                        }
                    },
                    "method": "GET",
                    "relativePath": "/employees/{id}"
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateless"
}